.App {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}
.AppHeader {
   height: 50px;
   display: flex;
   justify-content: space-evenly;
   align-items: center;
   padding: 4px;
   border-bottom: 1px solid black;
   font-size: 25px;
}
.AppFooter {
  height: 50px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-top: 1px solid black;
}
.SideMenuAndPageContent {
display: flex;
flex: 1;
justify-content: flex-start;
align-items: flex-start;
color: aqua;
}
.PageContent {
color: black;
}
.SideMenu{
color: black;
}
