.form-container {
    max-width:880px;
    /* margin: 0 auto;
    padding: 20px; */
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: rgb(250, 246, 246);
    display: flex;
    justify-content: center;
  }
  
  .form-container {
    margin-bottom: 20px;
  }
  
  .form-group {
    margin-bottom: 1px;
  }
  
  .form-group label {
    
    margin-bottom: 1px;
  }
  
  .form-group input[type="text"],
  .form-group input[type="file"] {
    width: calc(100% - 25px); /* Adjust width to fit within container */
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  button {
    background-color: #4caf50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #45a049;
  }
  
  