.menu{
    background-color: black;
    color: white;
    
}
.menu .ant-menu-item{
    color: white;
    margin-right: 40px;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 10px;
}
.menu .ant-menu-item-selected {
    color: black;
}
.menu .ant-menu-item-selected :active{
    color: black;
}
